{
	"singleQuote": true,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"proseWrap": "always",
	"useTabs": false,
	"semi": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "auto"
}
